<h1>Battle</h1>
<h2>Sign in to play</h2>
<form action="/newplayers" method="post">
  <label for='player1'>
    Player 1
    <input type = 'text' name = 'player1' placeholder = 'player1'/>
  </label>
  <label for='player2'>
    Player 2
    <input type = 'text' name = 'player2' placeholder = 'player2'/>
  </label>
  <button value = 'submit'>New Game</button>
</form>